@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;700&display=swap");
html {
	scroll-behavior: smooth;
	background-color: white;
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "League Spartan", sans-serif;
}
:root {
	--first: #013364;
	--second: #d7f4ff;
	--about: #000080;
	--contact: #fd7f20;
	--technologies: #00585a;
}

.firstColor {
	color: var(--first);
}

.main {
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 500px;
	max-width: 1400px;
	background-color: white;
}

body {
	background-color: white;
	margin: 0 auto;
	height: 500vh;
}
/* Header burger */
.burger {
	display: flex;
	justify-content: center;
	width: 35px;
	font-size: 40px;
	margin-right: 20px;
	background-image: linear-gradient(to right, var(--first), var(--second));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.burger:hover {
	cursor: pointer;
}

aside {
	position: fixed;
	top: 65px;
	bottom: 0;
	left: -100vw;
	width: 100vw;
	transition: 0.5s ease-out;
}

.fas.fa-bars,
.fa-solid.fa-xmark {
	display: none;
}

.fas.fa-bars.show,
.fa-solid.fa-xmark.show {
	display: flex;
}

/* header Logo */
.headerContainer {
	position: fixed;
	top: 0;
	height: 70px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: var(--first);
	width: 100vw;
	z-index: 5;
	background-color: white;
}

.is-scroll {
	-webkit-box-shadow: 0 0 10px var(--second);
	box-shadow: 0 0 10px var(--second);
}

.homeContainer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
	padding-right: 10px;
	color: var(--first);
	text-decoration: none;
}

.logo {
	font-size: 33px;
	padding: 10px 5px 10px 15px;
	background-image: linear-gradient(to right, var(--first), var(--second));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.homeContainer h1 {
	font-size: 22px;
}
.homeContainer span {
	font-size: 16px;
}

/* Navigation menu */
aside.show {
	left: 0;
	z-index: 6;
	background-color: white;
}
.menu {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 80%;
	padding-top: 30px;
	z-index: 6;
}

.menu a {
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	font-weight: 700;
	border: 3px solid var(--first);
	width: 60%;
	height: 100%;
	margin-top: 20px;
	border-radius: 20px;
	color: var(--first);
	font-size: 30px;
	transition: 0.5s;
}

.menu a:hover {
	color: var(--second);
	border-color: var(--second);
	background-color: var(--first);
}
@media (orientation: landscape) {
	.menu a {
		width: 40%;
		margin-top: 15px;
	}
}

@media (min-width: 1080px) {
	.burger {
		display: none;
	}
	.menu {
		flex-direction: row;
		padding-top: 0;
	}
	.menu a {
		border: none;
		font-size: 23px;
		margin: 20px 5px 0 5px;
		padding: 0 5px 0 5px;
		transition: 0.5s;
	}

	aside {
		top: 0;
		right: 10px;
		height: 69px;
		width: 80%;
		left: auto;
		max-width: 800px;
		z-index: 6;
	}
	aside.show {
		right: 10px;
		left: auto;
	}
}

/* Tytuł i main */
main {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.titleWrapper {
	max-width: 1400px;
	display: block;
	width: 100%;
	margin-top: 140px;
	color: var(--first);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.titleWrapper h2 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 37px;
}
.titleWrapper .animation {
	background-image: linear-gradient(
		-225deg,
		var(--second) 0%,
		var(--first) 100%
	);
	background-size: 300% auto;
	color: #fff;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: textclip 10s linear infinite;
	font-size: 40px;
}

@keyframes textclip {
	to {
		background-position: 300% center;
	}
}

.titleWrapper h2 span {
	animation: textclip2 10s linear infinite;
	margin-bottom: 5px;
}
@keyframes textclip2 {
	50% {
		color: var(--first);
	}
	75% {
		color: #94b1c5;
	}
}

.titleWrapper p {
	display: inline-block;
	text-align: center;
	padding-top: 30px;
	font-size: 23px;
}

/* main icons */
.landingIcons {
	width: 95%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	text-align: center;
	justify-content: space-around;
	padding-top: 30px;
}
.landingIcons div {
	flex-basis: 34%;
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 10px 0;
	animation: decay 2s ease-out;
}
.landingIcons div img {
	width: 100px;
	height: 100px;
}
@keyframes decay {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.landingIcons div:hover {
	animation: upDown 2s linear infinite;
}
@keyframes upDown {
	25% {
		transform: translate(0, 5%);
	}
	75% {
		transform: translate(0, -5%);
	}
	100% {
		transform: translate(0, 0);
	}
}

.landingIcons div p {
	font-size: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-weight: 700;
}

/* contact button */
.contactButton {
	background-image: linear-gradient(to right, var(--second), white);
	text-decoration: none;
	margin-top: 30px;
	padding: 12px 35px;
	border: 4px solid var(--first);
	border-radius: 23px;
	font-size: 25px;
	font-weight: 700;
	color: var(--first);
	transition: 0.5s;
}

.contactButton:hover {
	cursor: pointer;
	color: var(--second);
	background-image: linear-gradient(to right, var(--first), var(--second));
	border-color: var(--second);
}
@media (min-width: 400px) {
	.landingIcons div img {
		width: 150px;
		height: 150px;
	}
}
@media (min-width: 720px) {
	.titleWrapper h2 {
		font-size: 70px;
	}
	.titleWrapper .animation {
		font-size: 80px;
	}
	.titleWrapper div p {
		font-size: 35px;
	}
	.landingIcons {
		max-width: 1300px;
		padding-top: 40px;
	}
	.landingIcons div {
		width: 23%;
		flex-wrap: no-wrap;
		flex-basis: 25%;
	}
	.landingIcons div p {
		font-size: 20px;
	}
}
@media (min-width: 1080px) {
	.landingIcons div p {
		font-size: 30px;
	}
	.landingIcons div img {
		width: 200px;
		height: 200px;
	}
}

/* about me section styling */
#aboutMe {
	padding-top: 70px;
	text-align: center;
	display: flex;
	align-items: center;
	max-width: 1400px;
	overflow: hidden;
	width: 90%;
}
.profilePhoto {
	display: none;
}
.aboutMeWrapper {
	display: flex;
	flex-direction: column;
	margin: 10px 10px;
	color: var(--first);
}
.topicHeader h2 {
	color: var(--about);
	font-size: 30px;
}
.topicHeader h3 {
	font-weight: 500;
	font-size: 20px;
}

.topicHeader h3 span {
	font-weight: 700;
	color: var(--about);
}

.aboutMeWrapper p {
	margin: 20px 0;
	font-size: 15px;
}
.aboutMeWrapper p span {
	font-weight: 700;
}

.topicWrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.topicIcon {
	color: var(--about);
	margin: 10px 10px;
	font-size: 25px;
}
div.line {
	height: 1px;
	width: 100%;
	background-color: var(--about);
	margin: 14px 0 0 0;
}

@media (min-width: 1080px) {
	#aboutMe {
		text-align: start;
		justify-content: space-between;
		padding: 70px 100px 0 100px;
	}
	.profilePhoto {
		display: block;
		width: 250px;
	}
	.topicWrapper {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-start;
		margin-bottom: 10px;
	}
	.topicWrapper,
	.topicIcon {
		order: -1;
	}
	.aboutMeWrapper {
		margin: 30px 20px 0 30px;
		color: var(--first);
		width: 60%;
	}
	.topicHeader h2 {
		font-size: 35px;
	}
	.topicHeader h3 {
		font-size: 22px;
	}
	.aboutMeWrapper p {
		font-size: 17px;
	}
	.profilePhoto img {
		width: 200px;
		max-width: 90%;
		margin: 0 auto;
	}
}

/* Technologies section styling */
#technologies {
	padding-top: 70px;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 1400px;
	overflow: hidden;
	width: 90%;
}
.technologiesWrapper {
	display: flex;
	flex-direction: column;
	margin: 10px 10px;
	color: var(--first);
}
#technologies .topicHeader h2 {
	color: var(--technologies);
	font-size: 30px;
}
#technologies .topicHeader h3 {
	font-weight: 500;
	font-size: 20px;
}

#technologies .topicHeader h3 span {
	font-weight: 700;
	color: var(--technologies);
}

#technologies .topicWrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
#technologies .topicIcon {
	color: var(--technologies);
	margin: 10px 10px;
	font-size: 25px;
}
#technologies div.line {
	height: 1px;
	width: 100%;
	background-color: var(--technologies);
	margin: 14px 0 10px 0;
}
.technologies img {
	width: 100px;
	height: 100px;
	margin: 15px 15px;
}
.technologies {
	width: 100%;
	margin: 20px 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
@media (min-width: 720px) {
	.technologies img {
		width: 150px;
		height: 150px;
		margin: 20px 20px;
	}
}

@media (min-width: 1080px) {
	#technologies {
		text-align: start;
		justify-content: space-between;
		padding: 70px 100px 0 100px;
	}
	#technologies .topicWrapper {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-start;
		margin-bottom: 10px;
	}
	#technologies .topicWrapper,
	#technologies .topicIcon {
		order: -1;
	}
	.technologiesWrapper {
		margin: 30px 20px 0 20px;
		color: var(--first);
		width: 100%;
	}
	#technologies .topicHeader h2 {
		font-size: 35px;
	}
	.technologies img {
		width: 200px;
		height: 200px;
		margin: 25px 25px;
	}
}

/* contact section styling */
#contact {
	padding-top: 70px;
	width: 90%;
	text-align: center;
	display: flex;
	align-items: center;
	max-width: 1400px;
	overflow: hidden;

	width: 90%;
}

.contactWrapper {
	display: flex;
	flex-direction: column;
	margin: 10px 10px;
	color: var(--first);
	flex-grow: 1;
}
#contact .topicHeader h2 {
	color: var(--contact);
	font-size: 30px;
}
#contact .topicHeader h3 {
	font-weight: 500;
	font-size: 20px;
}

#contact .topicHeader h3 span {
	font-weight: 700;
	color: var(--contact);
}

#contact .topicIcon {
	color: var(--contact);
	margin: 10px 10px;
	font-size: 25px;
}
#contact div.line {
	height: 1px;
	width: 100%;
	background-color: var(--contact);
	margin: 14px 0 0 0;
}

.contactWrapper ul {
	list-style: none;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.contact ul li {
	display: flex;
	align-items: center;
	margin-top: 15px;
}
.contact ul li a {
	color: var(--first);
	text-decoration: none;
	font-size: 15px;
	transition: 0.2s;
}
.contact ul li a:hover {
	color: var(--contact);
}

@media (min-width: 1080px) {
	#contact {
		padding: 70px 100px 0 100px;
		text-align: start;
		justify-content: space-around;
	}
	.contact ul {
		align-items: flex-start;
	}
	.contactWrapper {
		margin: 30px 20px 0 20px;
		color: var(--first);
		width: 100%;
	}
	.contact ul li a {
		font-size: 17px;
	}
}
