@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;700&display=swap");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "League Spartan", sans-serif;
}

body {
	background-color: white;
	height: 200vh;
}
/* Header burger */
.burger {
	display: flex;
	justify-content: center;
	width: 35px;
	font-size: 40px;
	margin-right: 20px;
	background-image: linear-gradient(to right, #013364, #d7f4ff);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.burger:hover {
	cursor: pointer;
}

aside {
	position: fixed;
	top: 80px;
	bottom: 0;
	left: -100vw;
	width: 100vw;
	transition: 0.5s ease-out;
}

.fas.fa-bars,
.fa-solid.fa-xmark {
	display: none;
}

.fas.fa-bars.show,
.fa-solid.fa-xmark.show {
	display: flex;
}

/* header Logo */
.headerContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #013364;
	margin-top: 10px;
	position: fixed;
	width: 100%;
}

.homeContainer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
	padding-right: 10px;
	color: #013364;
}

.logo {
	font-size: 33px;
	padding: 10px 5px 10px 15px;
	background-image: linear-gradient(to right, #013364, #d7f4ff);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.homeContainer h1 {
	font-size: 22px;
}
.homeContainer span {
	font-size: 16px;
}

/* Navigation menu */
aside.show {
	left: 0;
}
.menu {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 80%;
	padding-top: 10px;
}

.menu a {
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	font-weight: 700;
	border: 3px solid #013364;
	width: 60%;
	height: 100%;
	margin-top: 20px;
	border-radius: 20px;
	color: #013364;
	font-size: 30px;
	transition: 0.5s;
}

.menu a:hover {
	color: #d7f4ff;
	border-color: #d7f4ff;
	background-color: #013364;
}
@media (orientation: landscape) {
	.menu a {
		width: 40%;
		margin-top: 15px;
	}
}
@media (min-width: 720px) and (orientation: landscape) {
	.menu a {
		width: 40%;
		margin-top: 15px;
	}
}

@media (min-width: 1080px) {
	.burger {
		display: none;
	}
	.menu {
		flex-direction: row;
		padding-top: 0;
	}
	.menu a {
		border: none;
		font-size: 23px;
		margin: 20px 5px 0 5px;
		padding: 0 5px 0 5px;
		transition: 0.5s;
	}
	.menu a:hover {
	}
	aside {
		top: 0;
		right: 10px;
		height: 69px;
		width: 80%;
		left: auto;
		max-width: 800px;
	}
}

.svgLogo svg {
}
