/* portfolio section styling */
#portfolio {
	padding-top: 70px;
	text-align: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	overflow-x: hidden;
	width: 100vw;
}

.nonCommercial {
	max-width: 1400px;
	margin-left: auto;
	margin-right: auto;
}

#portfolio .topicHeader {
	max-width: 1400px;
	width: 95%;
	padding: 0 0 0 5%;
}

.portfolioWrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	color: var(--first);
}

#portfolio .topicHeader h2 {
	color: var(--portfolio);
	font-size: 30px;
}

#portfolio .topicHeader h3 {
	font-weight: 500;
	font-size: 20px;
}

#portfolio .topicHeader h3 span {
	font-weight: 700;
	color: var(--portfolio);
}

#portfolio .topicHeader h4 {
	font-size: 18px;
	text-align: left;
	margin-bottom: 5px;
	color: var(--portfolio);
}
#portfolio .topicHeader ul {
	max-width: 100%;
	text-align: left;
	padding-left: 20px;
	overflow: visible;
}

#portfolio .topicHeader ul li {
	max-width: 100%;
	margin-bottom: 5px;
}

#portfolio .topicWrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

#portfolio .topicIcon {
	color: var(--portfolio);
	margin: 10px 10px;
	font-size: 25px;
}

#portfolio div.line {
	height: 1px;
	width: 100%;
	background-color: var(--portfolio);
	margin: 14px 0 10px 0;
}

.portfolio img {
	width: 100%;
	height: auto;
	z-index: 1;
}

.portfolio {
	width: 100%;
	margin: 5px 0 30px 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	-ms-flex-negative: shrink;
	flex-shrink: shrink;
}

.portfolio .projectImage {
	position: relative;
	overflow: hidden;
}

.portfolio .projectWrapper {
	color: #eeeeee;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin: 3% 2%;
	border-radius: 5px;
	box-shadow: 0px 0px 24px -12px var(--first);
	overflow: hidden;
}

.portfolio .projectContainer {
	display: flex;
	width: 100vw;
	height: auto;
	background-color: rgb(34, 34, 34);
	padding: 40px 0;
}

.portfolio .projectContainer:nth-child(3n) {
	background-color: rgb(33, 37, 41);
}
.portfolio .projectContainer:nth-child(3n-1) {
	background-color: rgb(0, 33, 52);
}

.portfolio .projectVideo {
	// height: 100%;
	width: 50%;
	background-image: url(../../images/iphone.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}
.portfolio .video {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	height: 80%;
}

.portfolio .projectTitleWrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	width: 50%;
	height: auto;
	color: #eeeeee;
	text-align: center;
}

.portfolio .projectTitleWrapper .projectInfo {
	display: flex;
	flex-direction: column;
	text-align: center;
	height: auto;
	padding: 20px 20px;
	font-weight: 700;
	font-size: 22px;
}

.portfolio .projectTitleWrapper .technologies {
	padding-left: 20%;
	padding-right: 20%;
	text-align: left;
}

.portfolio .projectTitleWrapper .technologies p {
	margin: 0 1px;
}

.portfolio .projectTitleWrapper .features {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.portfolio .projectTitleWrapper .features li {
	padding: 2% 0;
	font-weight: 500;
	text-align: left;
}

.portfolio .projectTitleWrapper .projectInfo p {
	margin-bottom: 5px;
}

.portfolio .projectTitleWrapper .projectTitle {
	font-size: 25px;
	line-height: 25px;
	font-weight: 700;
	border-radius: 16px;
	padding: 8px 8px 4px;
	margin: 30px 0 20px 0;
	box-shadow: 0px 0px 24px 1px rgba(255, 255, 255, 1);
}

.portfolio .projectLinks {
	height: 75px;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	padding: 0 25px;
}

.portfolio .projectLinks a {
	position: relative;
	padding: 1em 1.5em;
	border: none;
	cursor: pointer;
	outline: none;
	font-size: 18px;
	margin: 1em 0.8em;
	text-decoration: none;
	color: #566473;
}

.portfolio .projectLinks a::after,
.portfolio .projectLinks a::before {
	content: "";
	display: block;
	position: absolute;
	width: 20%;
	height: 20%;
	border: 2px solid;
	transition: all 0.6s ease;
	border-radius: 2px;
}
.portfolio .projectLinks a::after {
	bottom: 0;
	right: 0;
	border-top-color: rgba(255, 255, 255, 0);
	border-left-color: rgba(255, 255, 255, 0);
	border-bottom-color: #566473;
	border-right-color: #566473;
}
.portfolio .projectLinks a::before {
	top: 0;
	left: 0;
	border-bottom-color: rgba(255, 255, 255, 0);
	border-right-color: rgba(255, 255, 255, 0);
	border-top-color: #566473;
	border-left-color: #566473;
}
.portfolio .projectLinks a:hover:after,
.portfolio .projectLinks a:hover:before {
	width: 100%;
	height: 100%;
}

.projectWrapper .projectTitle {
	color: var(--first);
	font-size: 25px;
	line-height: 25px;
	font-weight: 700;
	border-radius: 16px;
	padding: 8px 8px 4px;
	margin: 30px 0 20px 0;
	box-shadow: 0px 0px 24px 1px var(--first);
}

.projectWrapper:nth-child(12) .projectLinks a:nth-child(1) {
	padding: 10px 18.7px;
}

.portfolio .imageHover {
	width: 22%;
	height: 99%;
	background-color: #1c3953;
	position: absolute;
	top: 0;
	left: 100%;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	font-size: 20px;
	text-align: start;
	border-radius: 5px;
}

.portfolio .videoHover {
	width: 22%;
	height: 100%;
	background-color: #1c3953;
	position: absolute;
	top: 0;
	left: 100%;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	font-size: 20px;
	text-align: start;
	border-radius: 5px;
	padding-top: 70px;
}

.portfolio .imageHover p {
	height: 20px;
	padding: 20px 20px;
	font-weight: 700;
	color: #eeeeee;
}

.portfolio .videoHover p {
	height: 20px;
	padding: 20px 20px;
	font-weight: 700;
	color: #eeeeee;
}
.portfolio .projectImage:hover .imageHover,
.portfolio .projectVideo:hover .videoHover {
	top: 0;
	left: 80%;
	opacity: 75%;
}

@media (min-width: 1080px) {
	#portfolio .topicHeader {
		text-align: start;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		padding: 70px 100px 0 100px;
		margin-left: auto;
		margin-right: auto;
	}

	.portfolio .projectContainer {
		padding-left: 10%;
		padding-right: 10%;
	}

	#portfolio .topicWrapper {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: flex-start;
		margin-bottom: 10px;
	}
	#portfolio .topicWrapper,
	#portfolio .topicIcon {
		-webkit-box-ordinal-group: 0;
		-ms-flex-order: -1;
		order: -1;
	}
	.portfolioWrapper {
		color: var(--first);
	}
	#portfolio .topicHeader h2 {
		font-size: 35px;
	}
	.portfolio .projectWrapper {
		width: 45%;
	}
}

@media (min-width: 1400px) {
	.portfolio .projectContainer {
		padding-left: 20%;
		padding-right: 20%;
	}
	.portfolio .projectVideo {
		width: 50%;
	}

	.portfolio .projectTitleWrapper {
		width: 50%;
	}
}

@media (max-width: 720px) {
	.portfolio .projectContainer {
		flex-direction: column;
		align-items: center;
	}
	.portfolio .projectVideo {
		min-height: 700px;
		width: 80%;
	}

	.portfolio .projectTitleWrapper {
		height: 50%;
		width: 90%;
	}
}
@media (max-width: 450px) {
	.portfolio .video {
		height: auto;
		width: 82%;
	}
}
