/* referencies section */
#referencies {
	padding-top: 70px;
	width: 90%;
	text-align: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	max-width: 1400px;
	overflow: hidden;
}

.referenciesWrapper {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	color: var(--first);
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
}

#referencies .topicHeader h2 {
	color: var(--referencies);
	font-size: 30px;
}

#referencies .topicHeader h3 {
	font-weight: 500;
	font-size: 20px;
}

#referencies .topicHeader h3 span {
	font-weight: 700;
	color: var(--referencies);
}

#referencies .topicIcon {
	color: var(--referencies);
	margin: 10px 10px;
	font-size: 25px;
}

#referencies div.line {
	height: 1px;
	width: 100%;
	background-color: var(--referencies);
	margin: 14px 0 0 0;
}

.referencies {
	width: 100%;
}

.swiper {
	width: 100%;
	height: auto;
}

.swiper-wrapper {
	width: 100%;
	height: auto;
}

.swiper-wrapper img {
	max-width: 100%;
	padding: 50px 0 0 0;
}

@media (min-width: 480px) {
	.swiper-wrapper img {
		padding: 50px 50px 20px 20px;
	}
}
@media (min-width: 720px) {
	.swiper {
		max-width: 80vw;
	}
	.swiper-wrapper img {
		padding: 50px 100px 30px 70px;
	}
}
@media (min-width: 1080px) {
	#referencies {
		padding: 70px 50px 40px 50px;
		text-align: start;
		-ms-flex-pack: distribute;
		justify-content: space-around;
	}
	.swiper {
		max-width: 70vw;
	}
	.swiper-wrapper img {
		min-width: auto;
		padding: 70px 180px 20px 180px;
	}
}
